*.pyc
test.py
.pytest_cache
*__pycache__
.coverage
*.ipynb
.ipynb_checkpoints
.tox
*.egg-info
tox.ini
/.cache
/.vscode
.eggs
*.code-workspace
.env
reffiles
assets/sample_out/
makedoe.py
reference_dfm/
test_output_inps/
tf_wrkspc/